.drawer {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 40;
    overflow: auto;
    transition: transform 150ms ease-in-out;
    max-width: 70vw;
}

.drawer:not(.open) {
    transform: translateX(-100%);
}

.drawer-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;;
}

.drawer-item {
    cursor: pointer;
}