.popover-wrapper {
    position: fixed;
    z-index: 39;
    right: 1rem;
}

.popover {
    overflow: auto;
    display: inline-block;
    white-space: nowrap;
    max-height: 100%;
    max-width: 100%;
}