/* Drawer */

.drawer {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 40;
    overflow: auto;
    transition: transform 150ms ease-in-out;
    max-width: 70vw;
    width: 16rem;
}

.drawer:not(.open) {
    transform: translateX(-100%);
}

.drawer-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.drawer-item {
    cursor: pointer;
}

/* Field */

.field label {
    display: block;
}

/* Master Detail */

.master-detail,
.master-detail__master,
.master-detail__detail,
.master-detail__master > *,
.master-detail__detail > * {
    height: 100%;
}

@media (max-width: 1023px) {
    .master-detail__master {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(0);
        opacity: 1;
        transition: transform 250ms ease-in-out;
    }

    .master-detail--closed .master-detail__master {
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 250ms ease-in-out, opacity 250ms ease-in-out 250ms;
    }

    .master-detail__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.2;
        transition: opacity 250ms ease-in-out;
    }

    .master-detail--closed .master-detail__overlay {
        pointer-events: none;
        opacity: 0;
    }
}

@media (min-width: 1024px) {
    .master-detail {
        display: flex;
        align-items: stretch;
    }

    .master-detail__detail {
        flex: 1 1 auto;
    }
}

/* Modal */

.modal {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    background-color: #00000044;
}

.modal .modal-content {
    position: relative;
    margin: 2rem;
    height: calc(100vh - 4rem);
    opacity: 0;
}

.modal.open {
    display: block;
    animation: showModal 0.4s forwards;
}

.modal.open .modal-content {
    animation: showModalBody 0.4s forwards;
}

@keyframes showModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showModalBody {
    from {
        top: -19rem;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* Popover */

.popover-wrapper {
    position: fixed;
    z-index: 39;
    right: 1rem;
}

.popover {
    overflow: auto;
    display: inline-block;
    white-space: nowrap;
    max-height: 100%;
    max-width: 100%;
}

/* Spinner */
.spinner {
    padding: 1rem;
}

.spinner.small {
    padding: 0.5rem;
}

.spinner.inline {
    display: flex;
    align-items: center;
    padding: 0;
}

.spinner > .spin {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    animation: cr-spinner-spin 0.8s linear infinite;
    border: 0.25rem solid gray;
    border-top: 0.25rem solid black;
    width: 2.5rem;
    height: 2.5rem;
    flex: 0 0 2rem;
}

.spinner.small > .spin {
    border-width: 0.125rem;
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 0 1.5rem;
}

.spinner.inline > .spin {
    display: inline-block;
    margin-right: 0.25rem;
    margin-left: 0;
    border-width: 0.125rem;
    width: 1em;
    height: 1em;
    flex: 0 0 1em;
}

@keyframes cr-spinner-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
